<ion-content>

  <!-- TODO push into main css-->
  <!--
  <head>
    <title>LIVELYHOOD - connect to share, for a happier community</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="icon" type="image/png" sizes="192x192"  href="images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon/favicon-16x16.png">
  </head>
-->
    <div id="page-wrapper">
  
      <!-- Header -->
      <div id="header-wrapper">
        <header id="header" class="container">
  
          <!-- Logo -->
          <div id="logo">
            <h1><a href="index.html">LIVELYHOOD</a></h1>
            <span>connect to share, for a happier community</span>
          </div>
        </header>
      </div>
  
      <!-- Banner -->
      <div id="banner-wrapper">
        <div id="banner" class="box container">
          <div class="row">
            <div class="7u 12u(medium)">
              <!--<h2>Livelyhood</h2>-->
              <div>
                <img src="assets/images/logo_symb_o.png"/>
              </div>
              <p>connect to share, for a happier community</p>
            </div>
            <div class="5u 12u(medium)">
              <ul>
                <li><a href="#" class="button big icon fa-arrow-circle-right">Ich möchte kaufen</a></li>
                <li><a href="#" class="button alt big icon fa-arrow-circle-right">Ich möchte verkaufen</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Features -->
      <div id="features-wrapper">
        <div class="container">
          <div class="row">
            <div class="4u 12u(medium)">
              <!-- Box -->
              <section class="box feature">
                <a href="#" class="image featured"><img src="assets/images/pic01.jpg" alt="" /></a>
                <div class="inner">
                  <header>
                    <h2>Cep consequat urna</h2>
                    <p>Augue ante at nisl mus magna</p>
                  </header>
                  <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper
                    amet bibendum tristique fringilla.</p>
                </div>
              </section>
            </div>
            <div class="4u 12u(medium)">
              <!-- Box -->
              <section class="box feature">
                <a href="#" class="image featured"><img src="assets/images/pic02.jpg" alt="" /></a>
                <div class="inner">
                  <header>
                    <h2>At condimentum neque</h2>
                    <p>Diam at quam ut condimentum eleifend</p>
                  </header>
                  <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper
                    amet bibendum tristique fringilla.</p>
                </div>
              </section>
            </div>
            <div class="4u 12u(medium)">
              <!-- Box -->
              <section class="box feature">
                <a href="#" class="image featured"><img src="assets/images/pic03.jpg" alt="" /></a>
                <div class="inner">
                  <header>
                    <h2>Sit, non blandit est.</h2>
                    <p>Sociis cubilia adipiscing interdum</p>
                  </header>
                  <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper
                    amet bibendum tristique fringilla.</p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Footer -->
      <div id="footer-wrapper">
        <footer id="footer" class="container">
          <div class="row">
            <div class="12u">
  
              <!-- Contact -->
              <section class="widget contact last">
                <ul>
                  <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                  <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                </ul>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="12u">
              <div id="copyright">
                <ul class="menu">
                  <li>&copy; Livelyhood. All rights reserved</li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
  
    </div>
  
</ion-content>
