<ion-content>
  <div class="store-container">
    <form>
      <ion-item class="ion-float-left">
        <img class="storeimg" src="assets/img/social.jpg" height="150px"  (click)="uploadStoreImg()">
    </ion-item>
    <ion-item >
      <ion-label position="stacked">Eine kurze Beschreibung von dir und deiner Person:</ion-label><br>
      <ion-textarea required="true" rows="5"  placeholder="Stelle dich hier in 2 Sätzen vor :) ..." name="vendorDesc" [(ngModel)]="vendor?.business.businessDescription"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Name deines Ladens: </ion-label>
    <ion-input required="true" value=""></ion-input>
    </ion-item>
  <ion-item> 
    <ion-label>Deine Adresse: </ion-label>
    <ion-input required="true" value=""></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Deine Postleitzahl: </ion-label>
    <ion-input required="true" type="number" value=""></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Deine Stadt: </ion-label>
    <ion-input required="true" value=""></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dein Umkreis:</ion-label>
    <ion-range min="0" max="75" color="primary" step="5" ticks="true" pin="true" snaps="true" name ="distance" [(ngModel)]="distance" (ionChange)=updateDistance()>
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">75</ion-label>
    </ion-range>
    <ion-label id="labelDistance">0 km</ion-label>
  </ion-item>
  <ion-item >
    <ion-label position="stacked">Deine Öffnungszeiten:</ion-label><br>
    <ion-textarea required="true" rows="5"  placeholder="Mo-Fr: 09:00-15:30 "></ion-textarea>
  </ion-item>
  <ion-item> 
    <ion-label>Dein Instagram Handle: </ion-label>
    <ion-input value="" debounce="1000" id="insta"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Dein Facebook Account: </ion-label>
    <ion-input value="" debounce="1000" ></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Deine E-Mail: </ion-label>
    <ion-input value="" debounce="1000"  type="email" id="mail"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Deine Website: </ion-label>
    <ion-input value="" debounce="1000" type="email" id="mail"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Deine Telefonnummer: </ion-label>
    <ion-input value="" debounce="1000"  type="tel"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Deine Whatsappnummer: </ion-label>
    <ion-input value="" debounce="1000"  type="tel"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Dein Ebay-Kleinanzeigen-Account: </ion-label>
    <ion-input value="" debounce="1000" ></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Dein Lieferando-Account: </ion-label>
    <ion-input value="" debounce="1000" ></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Eine Andere Platform: </ion-label>
    <ion-input value="" debounce="1000" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Deine Branche:</ion-label>
    <ion-input type="text" (keyup.enter)="addBranch()" [(ngModel)]="latestBranch" name="latestBranch"></ion-input>
  </ion-item>
  <ion-item>
    <ion-chip class="branch-badge" item-end *ngFor="let branchName of productsInfo.branches" (click)="removeBranch(branchName)">
      {{branchName}}<ion-icon name="close-circle"></ion-icon></ion-chip>
  </ion-item>
  <ion-item>
    <ion-label>Deine Produkte:</ion-label>
    <ion-input type="text" (keyup.enter)="addProduct()" [(ngModel)]="latestProduct" name="latestProduct"></ion-input>
  </ion-item>
  <ion-item>
    <ion-chip class="branch-badge" item-end *ngFor="let branchName of productsInfo.products" (click)="removeProduct(branchName)">
      {{branchName}}<ion-icon name="close-circle"></ion-icon></ion-chip>
  </ion-item>
  <ion-item>
      <ion-label>Deine Services</ion-label>
      <ion-select value="services" multiple="true">
        <ion-select-option value="delivery">Lieferung</ion-select-option>
        <ion-select-option value="store">Abholung</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" (click)="this.registerNewVendor()" block>Speichern</ion-button>
  </form>
  </div>
</ion-content>
