<ion-content>
  <table>
    <thead>
      <th>Business Name</th>
      <th>Created At</th>
      <th>Expire At</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr *ngFor="let vendor of vendors">
        <td>{{vendor.business.businessName}}</td>
        <td>
          <ion-button expand="full" (click)="delete(vendor.id)">
            Delete
          </ion-button>
        </td>
        <td>
          <ion-button expand="full" (click)="vendorById(vendor.id)">
            Get Vendor By Id
          </ion-button>
        </td>
        <td>
          <ion-button expand="full" (click)="update(vendor)">
            Update Vendor
          </ion-button>
        </td>
      </tr>
    </tbody>
  </table>
  <ion-button expand="full" (click)="create()">Create New Vendor</ion-button>
</ion-content>
