<ion-header >
  <ion-toolbar color="light">
    <ion-title color="primary">
      livelyhood
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <a href="https://livelyhood.de/livelyhood.html">Start</a>
      </ion-button>
      <ion-button>
        <a href="https://livelyhood.de/livelyhood____ber_uns.html">Über uns</a>
      </ion-button>
      <ion-button>
        <a href="https://livelyhood.de/livelyhood___presse.html">Presse</a>
      </ion-button>
      <ion-button>
        <a href="https://livelyhood.de/livelyhood___kontakt.html">Kontakt</a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>