<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="search"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <h1>{{ vendor?.business?.businessName }}</h1>
  <ion-grid>
    <ion-row>
      <div *ngIf="hasProfilePic">
        <ion-col class="img-col" size="3" size-sm>
          <ion-img style="width: 400px;" [src]="vendor?.business?.profilePic"></ion-img>
        </ion-col>
      </div>
      <div *ngIf="!hasProfilePic">
        <ion-col class="img-col" size="1" size-sm>
          <ion-img src="assets/icon/favicon.png"></ion-img>
        </ion-col>
      </div>
      <ion-col>
        <div class="description">
          <ion-label class="ion-text-wrap">{{ vendor?.business?.businessDescription }}</ion-label>
        </div>
        <ion-item>
          <ion-label>{{vendor?.contactInfo?.email}}</ion-label>
          <ion-icon slot="start" name="mail-open-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>{{vendor?.contactInfo?.street}} {{vendor?.contactInfo?.houseNumber}},
            {{vendor?.contactInfo?.zipCode}} {{vendor?.contactInfo?.city}}</ion-label>
          <ion-icon slot="start" name="business-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>{{vendor?.contactInfo?.telefone}}</ion-label>
          <ion-icon slot="start" name="call-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>{{vendor?.contactInfo?.whatsApp}}</ion-label>
          <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>{{vendor?.contactInfo?.website}}</ion-label>
          <ion-icon slot="start" name="earth-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div id="chips" *ngFor="let b of vendor?.business?.branches">
          <ion-chip>
            <ion-icon name="pin"></ion-icon>
            <ion-label>{{b}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
      <ion-col size="3">
        <div *ngIf="instaHtml" [innerHTML]='instaHtml | keepHtml'></div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>